<p-panel header="Busqueda de Marcas"  [toggleable]="false" class="line-height-3"> 
    <form [formGroup]="formSearch">
        <div class="grid p-formgrid p-fluid">

            <div class="col-12 md:col-3">
                <label class="label-filter-text">Nombre</label>
                <input formControlName="txtName" type="text" pInputText class="p-inputtext p-component p-element"     />        
            </div>

              <div class="col12 md:col-2">
                <label class="label-filter-text">Estado</label>                
                <p-dropdown formControlName="intState"  [placeholder]="vMessageSelect" 
                optionLabel="value" optionValue="id" appendTo="body"
                [emptyMessage]="vMessageEmpty"  [options]="lstState" ></p-dropdown>
            </div>
        </div>
        <div class="flex flex-wrap sm:flex-row">
            <div class="sm:mr-auto mb-3 mr-3">
              <button pButton label="Agregar Marcas"  (click)="vmEditRegisterBrand = true;" type="button" icon="pi pi-plus" class="p-button-help" ></button>
              <button pButton label="Importar Marcas" type="button" icon="pi pi-upload" class="p-button-primary ml-3" ></button>
            </div>
            <div class="mb-3 mr-3">
                <button pButton label="Exportar" icon="pi pi-file-excel" type="submit" class="p-button-outlined p-button-success"></button>
              </div>
            <div class="mb-3 mr-3">
              <button pButton label="Buscar" icon="pi pi-search" type="submit" class="p-button-outlined p-button-primary"></button>
            </div>
            <div class="">
              <button pButton (click)="formSearch.reset()" label="Limpiar" type="button" icon="pi pi-trash" class="p-button-outlined p-button-secondary"></button>
            </div>
          </div>
    </form>
</p-panel>

<br>

<p-panel header="Resultados de Marcas"  [toggleable]="false" class="line-height-3">
    <p-table [value]="lstBrands" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:150px">Id</th>
            <th style="min-width:150px">Nombres</th>
            <th style="min-width:150px">Estado</th>    
            <th style="min-width:200px" pFrozenColumn alignFrozen="right">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td style="width:150px" alignFrozen="left" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'font-bold': idFrozen}">{{customer.id}}</td>
            <td style="width:150px" pFrozenColumn class="font-bold">{{customer.name}}</td>
            <td style="width:150px" pFrozenColumn  class="font-bold" alignFrozen="right">{{customer.representative.name}}  </td>
            <td style="width:150px" pFrozenColumn  class="font-bold" alignFrozen="right">{{customer.representative.name}}  </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No se encontró Información.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">
              Cargando información. Espere por favor.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="req.itotal_pagina" [totalRecords]="totalRecord" [rowsPerPageOptions]="rowsOptions"
      [showCurrentPageReport]="true" [first]="first"
      currentPageReportTemplate="Total : {totalRecords} registros"></p-paginator>
</p-panel>