.td-code{
    min-width: 8rem;
    max-width: 8rem;
}
.td-name{
    min-width: 10rem;
    max-width: 10rem;
}
.td-description{
    min-width: 10rem;
    max-width: 10rem;
}
.td-hours-normal{
    min-width: 10rem;
    max-width: 10rem;
}
.td-hours-vip{
    min-width: 7rem;
    max-width: 7rem;
}
.td-time-agenda{
    min-width: 10rem;
    max-width: 10rem;
}
.td-support-required{
    min-width: 10rem;
    max-width: 10rem;
}

.td-state{
    min-width: 8rem;
    max-width: 8rem;
}
.td-actions{
    min-width: 8rem;
    max-width: 8rem;
}