.td-id{
    min-width: 3rem;
    max-width: 3rem;
}
.td-name{
    min-width: 15rem;
    max-width: 15rem;
}
.td-description{
    min-width: 18rem;
    max-width: 18rem;
}
.td-number-users{
    min-width: 8rem;
    max-width: 8rem;
}
.td-number-admins{
    min-width: 8rem;
    max-width: 8rem;
}
.td-percent-support{
    min-width: 10rem;
    max-width: 10rem;
}
.td-image{
    min-width: 8rem;
    max-width: 8rem;
}
.td-date-create{
    min-width: 9rem;
    max-width: 9rem;
}
.td-state{
    min-width: 8rem;
    max-width: 8rem;
}
.td-actions{
    min-width: 8rem;
    max-width: 8rem;
}

