<p-panel header="Búsqueda de Usuarios" [toggleable]="true" class="line-height-3">
   
        <form [formGroup]="formSearch">
            <div class="p-fluid p-formgrid grid">

               <div class="col-12 md:col-3">
                <label class="label-filter-text">Nombres</label>
                <input formControlName="txtFirstName" type="text" pInputText class="p-inputtext p-component p-element" />
                <small class="text-red-600" *ngIf="formSearch.get('txtFirstName')?.hasError('pattern')">Ingrese solo
                  Letras</small>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Apellidos</label>
                <input formControlName="txtLastName" type="text" pInputText class="p-inputtext p-component p-element" />
                <small class="text-red-600" *ngIf="formSearch.get('txtLastName')?.hasError('pattern')">Ingrese solo
                  Letras</small>
              </div>
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Perfil</label>                
                <p-dropdown formControlName="intProfile"  [placeholder]="vmessageSelect" 
                optionLabel="value" optionValue="id" appendTo="body"
                [emptyMessage]="vmessageEmpty" [options]="lstProfile" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Estado</label>                
                <p-dropdown formControlName="intStatus"  [placeholder]="vmessageSelect" 
                optionLabel="value" optionValue="id" appendTo="body"
                [emptyMessage]="vmessageEmpty" [options]="lstStatus" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Nro. Telefono</label>
                <p-inputNumber formControlName="txtPhoneNumber" inputId="withoutgrouping" [useGrouping]="false" 
                [maxlength]="9" autocomplete="off"></p-inputNumber>          
              </div>
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Nro. Documento</label>
                <p-inputNumber formControlName="txtDocumentNumber"  inputId="withoutgrouping" [useGrouping]="false"
                 [maxlength]="8" autocomplete="off">
                </p-inputNumber>          
              </div>
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Correo Electronico</label>
                <input formControlName="txtEmail" type="text" pInputText class="p-inputtext p-component p-element" />
              </div>
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Departamento</label>                
                <p-dropdown formControlName="intDepartment"  [placeholder]="vmessageSelect" optionLabel="value" optionValue="id"
                [emptyMessage]="vmessageEmpty" [options]="lstDepartment" appendTo="body"></p-dropdown>
              </div>
            </div>

            <div class="flex flex-wrap sm:flex-row">
              <div class="sm:mr-auto mb-3 mr-3">
                <button pButton label="Agregar usuario" type="button" icon="pi pi-plus" class="p-button-help" (click)="viewModal(1,null)"></button>
              </div>
              <div class="mb-3 mr-3">
                <button pButton label="Buscar" icon="pi pi-search" type="submit" class="p-button-outlined p-button-primary"></button>
              </div>
              <div class="">
                <button pButton (click)="formSearch.reset()" label="Limpiar" type="button" icon="pi pi-trash" class="p-button-outlined p-button-secondary"></button>
              </div>
            </div>

        </form>
   
</p-panel>
<br>
<p-panel header="Tabla de Usuarios" [toggleable]="false" class="line-height-3">

  <p-table [value]="lstUsers" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll"
  styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:150px">Id</th>
        <th style="min-width:150px">Nombres</th>
        <th style="min-width:150px">Apellidos</th>
        <th style="min-width:150px">Perfil</th>
        <th style="min-width:150px">Correo Electronico</th>
        <th style="min-width:150px">Nro. Telefonico</th>
        <th style="min-width:150px">Tipo Documento</th>
        <th style="min-width:150px">Nro. Documento</th>
        <th style="min-width:150px">Departamento</th>
        <th style="min-width:150px">Estado</th>

        <th style="min-width:200px" pFrozenColumn alignFrozen="right">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td style="width:200px" class="font-bold">{{data.vcode}}</td>
        <td style="width:200px">{{data.vfirst_name}}</td>
        <td style="width:200px">{{data.vlast_name}}</td>
        <td style="width:200px">{{data.date}}</td>
        <td style="width:200px">{{data.vemail}}</td>
        <td style="width:200px">{{data.iphone}}</td>
        <td style="width:200px">{{data.itype_document}}</td>
        <td style="width:200px">{{data.inumber_document}}</td>
        <td style="width:200px">{{data.iid_department}}</td>
        <td style="width:200px">{{data.vstate_record}}</td>
        <td style="width:200px" pFrozenColumn alignFrozen="right">
        
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontró Información.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="7">
          Cargando información. Espere por favor.
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [rows]="req.ilimit" [totalRecords]="totalRecord" [rowsPerPageOptions]="rowsOptions"
  [showCurrentPageReport]="true" [first]="first"
  currentPageReportTemplate="Total : {totalRecords} registros"></p-paginator>
</p-panel>



<p-dialog [(visible)]="vmEditRegisterUser" [draggable]="false" [style]="{width: '826px',height:'440px'}"  [closable]="false" [header]="titleEditRegisterUser"
  [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <br>
   <form [formGroup]="formRegisterEdit">
    <div class="p-fluid p-formgrid grid">
      
      <div class="col-12 md:col-3">
        <label class="label-filter-text">Nombres</label>
        <input formControlName="txtFirstName" type="text" pInputText class="p-inputtext p-component p-element"     />

          <small  *ngIf="formRegisterEdit.controls['txtFirstName'].invalid && formRegisterEdit.controls['txtFirstName'].touched"
          class="text-red-600"> Ingrese Nombres</small>
          <small *ngIf="formRegisterEdit.get('txtFirstName')?.hasError('pattern')"
          class="text-red-600">Ingrese solo Letras</small>
      </div>

      
      <div class="col-12 md:col-3">
        <label class="label-filter-text">Apellidos</label>
        <input formControlName="txtLastName" type="text" pInputText class="p-inputtext p-component p-element"    />

           <small  *ngIf="formRegisterEdit.controls['txtLastName'].invalid && formRegisterEdit.controls['txtLastName'].touched"
          class="text-red-600"> Ingrese Apellidos</small>
          <small *ngIf="formRegisterEdit.get('txtLastName')?.hasError('pattern')"
          class="text-red-600">Ingrese solo Letras</small>
      </div>
 

      <div class="col-12 md:col-3">
        <label class="label-filter-text">Perfil</label>                
        <p-dropdown formControlName="intProfile" required [placeholder]="vmessageSelect" optionLabel="value"
         optionValue="id" [emptyMessage]="vmessageEmpty" [options]="lstProfile" appendTo="body"></p-dropdown>

         <small  *ngIf="formRegisterEdit.controls['intProfile'].invalid && formRegisterEdit.controls['intProfile'].touched"
        class="text-red-600"> Seleccion Perfil.</small>
      </div>


      <div class="col-12 md:col-3">
        <label class="label-filter-text">Estado</label>                
        <p-dropdown formControlName="intStatus" [options]="lstStatus" optionLabel="value" optionValue="id"
        [emptyMessage]="vmessageEmpty" [placeholder]="vmessageSelect" required appendTo="body"></p-dropdown>

        <small  *ngIf="formRegisterEdit.controls['intStatus'].invalid && formRegisterEdit.controls['intStatus'].touched"
        class="text-red-600"> Seleccion Estado.</small>
      </div>


      <div class="col-12 md:col-3">
        <label class="label-filter-text">Nro. Telefono</label>
        <p-inputNumber formControlName="txtPhoneNumber" inputId="withoutgrouping" [useGrouping]="false" 
        [maxlength]="9" autocomplete="off"></p-inputNumber>   

        <small  *ngIf="formRegisterEdit.controls['txtPhoneNumber'].invalid && formRegisterEdit.controls['txtPhoneNumber'].touched"
        class="text-red-600"> Ingrese  Nro. Telefono.</small>        
      </div>
      
 
      <div class="col-12 md:col-3">
        <label class="label-filter-text">Tipo Documento</label>                
        <p-dropdown formControlName="intTipeDocument"  [placeholder]="vmessageSelect" optionLabel="value" optionValue="id"
        [emptyMessage]="vmessageEmpty" [options]="lstTipeDocument" required appendTo="body" ></p-dropdown>

        <small  *ngIf="formRegisterEdit.controls['intTipeDocument'].invalid && formRegisterEdit.controls['intTipeDocument'].touched"
        class="text-red-600"> Seleccion Tipo Documento.</small>    
      </div>


      <div class="col-12 md:col-3">
        <label class="label-filter-text">Nro. Documento</label>
        <p-inputNumber formControlName="txtDocumentNumber"  inputId="withoutgrouping" [useGrouping]="false"
         [maxlength]="8" autocomplete="off"></p-inputNumber>  

        <small  *ngIf="formRegisterEdit.controls['txtDocumentNumber'].invalid && formRegisterEdit.controls['txtDocumentNumber'].touched"
        class="text-red-600"> Ingrese  Nro. Documento.</small>        
      </div>
 

      <div class="col-12 md:col-3">
        <label class="label-filter-text">Departamento</label>                
        <p-dropdown formControlName="intDepartment"  [placeholder]="vmessageSelect" optionLabel="value" optionValue="id"
        [emptyMessage]="vmessageEmpty" [options]="lstDepartment" required appendTo="body"></p-dropdown>
        <small  *ngIf="formRegisterEdit.controls['intDepartment'].invalid && formRegisterEdit.controls['intDepartment'].touched"
        class="text-red-600"> Seleccion Departamento.</small>
      </div>


      <div class="col-12 md:col-6">
        <label class="label-filter-text">Correo Electronico</label>
        <input formControlName="txtEmail" type="text" pInputText class="p-inputtext p-component p-element" />
        
        <small  *ngIf="formRegisterEdit.controls['txtEmail'].invalid && formRegisterEdit.controls['txtEmail'].touched"
        class="text-red-600"> Ingrese Correo Electronico.</small>
        <small class="text-red-600" *ngIf="formRegisterEdit.controls['txtEmail'].hasError('pattern')">
          Formato de correo electrónico inválido.
        </small>
      </div>

    </div>   
   </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="vmEditRegisterUser = false;"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" [loading]="loadingSave" (click)="saveUser()" ></button>
  </ng-template>
</p-dialog>
