.txt-black-white{
    color: white;
    // background: #5697ff;
}

.td-iid_option{
    min-width: 3rem;
    max-width: 3rem;
}

.td-name{
    min-width: 10rem;
    max-width: 10rem;
}

.td-description{
    min-width: 12rem;
    max-width: 12rem;
}

.td-check{
    min-width: 7.7rem;
    max-width: 7.7rem;
}
