<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<p-confirmPopup key="deleteDetalle"></p-confirmPopup>


<p-panel header="Busqueda de Modulo">

    <form  [formGroup]="formSearch">
        <div class="p-fluid grid p-formgrid">
            <div class="col-12 md:col-3">
                <label class="label-filter-text">Titulo</label>
                <input formControlName="txtTitle" type="text" pInputText class="p-inputtext p-component p-element" />
            </div>

            <div class="col-12 md:col-3">
                <label class="label-filter-text">Visibles</label>
                <p-dropdown formControlName="intVisible"  [placeholder]="vMessageSelect" 
                optionLabel="value" optionValue="id"   [emptyMessage]="vMessageEmpty" [options]="lstStatus" ></p-dropdown>
            </div>

            <div class="col-12 md:col-3">
                <label class="label-filter-text">Tienen Sub Menu</label>
                <p-dropdown formControlName="intSubMenu"  [placeholder]="vMessageSelect" 
                optionLabel="value" optionValue="id"   [emptyMessage]="vMessageEmpty" [options]="lstStatus" ></p-dropdown>
            </div>
            <div class="col-12 md:col-3">
              <label class="label-filter-text">Estado</label>                
              <p-dropdown formControlName="intState"  [placeholder]="vMessageSelect" 
              optionLabel="vvalue1" optionValue="id" appendTo="body"
              [emptyMessage]="vMessageEmpty" [options]="lstState" ></p-dropdown>
            </div>
        </div>

        <div class="flex flex-wrap sm:flex-row">
            <div class="sm:mr-auto mb-3 mr-3">
              <button pButton label="Agregar Modulo" type="button" icon="pi pi-plus" class="p-button-help" (click)="viewModal(1,null)"></button>
            </div>
            <div class="mb-3 mr-3">
              <button pButton label="Buscar" icon="pi pi-search" type="submit" class="p-button-outlined p-button-primary"></button>
            </div>
            <div class="">
              <button pButton (click)="formSearch.reset()" label="Limpiar" type="button" icon="pi pi-trash" class="p-button-outlined p-button-secondary"></button>
            </div>
          </div>

    </form>
</p-panel>



<br>



<p-panel header="Resultados de Modulos">
    <p-table [value]="lstModules" scrollDirection="both" [scrollable]="true" scrollHeight="400px" 
    styleClass="mt-3" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header" >
          <tr>
            <th style="min-width:5rem">Id</th>
            <th style="min-width:10rem">Titulo</th>
            <th style="min-width:10rem">Descripcion</th>
            <th style="min-width:10rem">Url</th>
            <th style="min-width:10rem">Icono</th>
            <th style="min-width:5rem">Orden</th>
            <th style="min-width:5rem">Visible</th>
            <th style="min-width:7rem">Sub menu</th>
            <th style="min-width:5rem">Estado</th>    
            <th style="min-width:9.5rem" pFrozenColumn alignFrozen="right">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td style="min-width:5rem" class="font-bold">{{data.iid_module}}</td>
            <td style="min-width:10rem" >{{data.vname_module}}</td>
            <td style="min-width:10rem">{{data.vdescription_module}}</td>
            <td style="min-width:10rem">{{data.vurl_module}}</td>
            <td style="min-width:10rem">{{data.vicon_module}}</td>
            <td style="min-width:5rem">{{data.iorder_module}}</td>
            <td style="min-width:5rem">{{data.bvisible_module}}</td>
            <td style="min-width:7rem">{{data.bsub_menu_module}}</td>
            <td style="min-width:5rem">{{data.vstate_record}}</td>
            <td style="min-width:9.5rem" pFrozenColumn  alignFrozen="right">
              <button pButton icon="pi pi-eye" class="text-blue-500 p-button-text"
              (click)="viewModal(3,data)" pTooltip="Ver Detalle" tooltipPosition="bottom" ></button>
    
              <button pButton icon="pi pi-pencil" class="text-green-500 p-button-text"
              (click)="viewModal(2,data)" pTooltip="Editar" tooltipPosition="bottom"></button>
    
               <button pButton icon="pi pi-trash" class="text-red-500 p-button-text"
               (click)="deleteModule($event,data)" pTooltip="Eliminar" tooltipPosition="bottom"></button>
     
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No se encontró Información.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">
              Cargando información. Espere por favor.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="req.ilimit" [totalRecords]="totalRecord" [rowsPerPageOptions]="rowsOptions"
      [showCurrentPageReport]="true" [first]="first"
      currentPageReportTemplate="Total : {totalRecords} registros"></p-paginator>
</p-panel>



<p-dialog [(visible)]="vmEditRegisterModule" [draggable]="false" [style]="{width: '440px',height:'450px'}"  [closable]="false" [header]="titleEditRegisterModule"
  [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <br>
   <form [formGroup]="formRegisterEditModule">
    <div class="p-fluid p-formgrid grid">
      
      <div class="col-12 md:col-6">
        <label class="label-filter-text">Titulo</label>
        <input formControlName="txtName" type="text" pInputText class="p-inputtext p-component p-element" 
        [(ngModel)]="lsModuleDto.vname_module"    />

          <small  *ngIf="formRegisterEditModule.controls['txtName'].invalid && formRegisterEditModule.controls['txtName'].touched"
          class="text-red-600"> Ingrese Titulo</small>
      </div>

      <div class="col-12 md:col-6">
        <label class="label-filter-text">Descripcion</label>
        <input formControlName="txtDescription" type="text" pInputText class="p-inputtext p-component p-element" 
        [(ngModel)]="lsModuleDto.vdescription_module"     />

          <small  *ngIf="formRegisterEditModule.controls['txtDescription'].invalid && formRegisterEditModule.controls['txtDescription'].touched"
          class="text-red-600"> Ingrese Descripcion</small>
      </div>
      
      <div class="col-12 md:col-4">
        <label class="label-filter-text">URL</label>
        <input formControlName="txtUrl" type="text" pInputText class="p-inputtext p-component p-element"  [(ngModel)]="lsModuleDto.vurl_module"  />

           <small  *ngIf="formRegisterEditModule.controls['txtUrl'].invalid && formRegisterEditModule.controls['txtUrl'].touched"
          class="text-red-600"> Ingrese URL</small>       
      </div>
 
      <div class="col-12 md:col-3">
        <label class="label-filter-text">Orden</label>
        <p-inputNumber formControlName="intOrder" inputId="withoutgrouping" [useGrouping]="false" 
        [maxlength]="2" autocomplete="off" [(ngModel)]="lsModuleDto.iorder_module"></p-inputNumber> 

           <small  *ngIf="formRegisterEditModule.controls['intOrder'].invalid && formRegisterEditModule.controls['intOrder'].touched"
          class="text-red-600"> Ingrese Orden</small>
       
      </div>


      <div class="col-12 md:col-5">
        <label class="label-filter-text">Icono</label>                

        
        <p-dropdown formControlName="txtIcon" [filter]="true" [options]="lstIcons" [(ngModel)]="selectedIcon" 
        optionValue="value" optionLabel="value" [placeholder]="vMessageSelect" appendTo="body"  [emptyMessage]="vMessageEmpty"
        [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="options" [(ngModel)]="lsModuleDto.vicon_module"
            (onChange)="selectIcon($event)" (onFilter)="filterIcon($event)">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedIcon">
                    <i [class]="'pi pi-'+selectedIcon"></i>
                    <div>{{ selectedIcon }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <i [class]="'pi pi-'+item.value"></i>
                    <div>{{ item.value }}</div>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="loader">
                <div >
                    <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>

                </div>
            </ng-template>
        </p-dropdown>


         <small  *ngIf="formRegisterEditModule.controls['txtIcon'].invalid && formRegisterEditModule.controls['txtIcon'].touched"
        class="text-red-600"> Seleccion Icono.</small>
      </div>

      <div class="col-12 md:col-3">
        <label class="label-filter-text">Visible</label>                
        <div class="flex justify-content-start">
            <p-checkbox formControlName="intVisible"
             class="ml-4" [binary]="true" inputId="binary" [(ngModel)]="lsModuleDto.bvisible_module"></p-checkbox>
        </div>        
      </div>

      <div class="col-12 md:col-3">
        <label class="label-filter-text">Sub Menu</label>                
        <div class="flex justify-content-start" >
            <p-checkbox formControlName="intSubMenu" class="ml-4" [(ngModel)]="lsModuleDto.bsub_menu_module" [binary]="true" inputId="binary"></p-checkbox>
        </div>
      </div>
      
      <div class="col-12 md:col-6">
        <label class="label-filter-text">Estado</label>                
        <p-dropdown formControlName="intState" [options]="lstState" optionLabel="vvalue1" optionValue="id"
        [emptyMessage]="vMessageEmpty" [placeholder]="vMessageSelect" required appendTo="body" [(ngModel)]="lsModuleDto.istate_record"></p-dropdown>

        <small  *ngIf="formRegisterEditModule.controls['intState'].invalid && formRegisterEditModule.controls['intState'].touched"
        class="text-red-600"> Seleccion Estado.</small>
      </div>
    </div>   
   </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="vmEditRegisterModule = false;"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" [loading]="loadingSave" (click)="saveModule()" ></button>
  </ng-template>
</p-dialog>



<p-dialog [(visible)]="vmEditRegisterOption" [draggable]="false" [style]="{width: '900px',height:'600px'}"  
          [closable]="false" [header]="titleEditRegisterOptions" [modal]="true" class="p-fluid">

  <ng-template pTemplate="content">
    <p-panel header="Registrar de Tablas Detalle" [toggleable]="false" class="line-height-3">
      <form [formGroup]="formRegisterEditOption">
        <div class="p-fluid p-formgrid grid">

          <div class="col-12 md:col-4">
            <label class="label-filter-text">Titulo</label>
            <input formControlName="txtName"  type="text" pInputText class="p-inputtext p-component p-element"/>
    
              <small  *ngIf="formRegisterEditOption.controls['txtName'].invalid && formRegisterEditOption.controls['txtName'].touched"
              class="text-red-600"> Ingrese Titulo</small>
              <small *ngIf="formRegisterEditOption.get('txtName')?.hasError('pattern')"
              class="text-red-600">Ingrese solo Letras</small>
          </div>

          <div class="col-12 md:col-5">
            <label class="label-filter-text">Descripción</label>
            <input formControlName="txtDescription"  type="text" pInputText class="p-inputtext p-component p-element"/>
    
              <small  *ngIf="formRegisterEditOption.controls['txtDescription'].invalid && formRegisterEditOption.controls['txtDescription'].touched"
              class="text-red-600"> Ingrese Descripción</small>
              <small *ngIf="formRegisterEditOption.get('txtDescription')?.hasError('pattern')"
              class="text-red-600">Ingrese solo Letras</small>
          </div>
    
          
          <div class="col-12 md:col-3">
            <label class="label-filter-text">Estado</label>                
            <p-dropdown formControlName="intState" [options]="lstState" optionLabel="vvalue1" optionValue="id"
            [emptyMessage]="vMMessageEmpty" [placeholder]="vMessageSelect" appendTo="body"      ></p-dropdown>
    
            <small  *ngIf="formRegisterEditOption.controls['intState'].invalid && formRegisterEditOption.controls['intState'].touched"
            class="text-red-600"> Seleccion Estado.</small>
          </div>

          <div class="col-12 md:col-3">
            <label class="label-filter-text">Url</label>
            <input formControlName="txtUrl"  type="text" pInputText class="p-inputtext p-component p-element"     />
    
              <small  *ngIf="formRegisterEditOption.controls['txtUrl'].invalid && formRegisterEditOption.controls['txtUrl'].touched"
              class="text-red-600"> Ingrese Url</small>
              <small *ngIf="formRegisterEditOption.get('txtUrl')?.hasError('pattern')"
              class="text-red-600">Ingrese solo Letras</small>
          </div>


          <div class="col-12 md:col-2">
            <label class="label-filter-text">Orden</label>
            <p-inputNumber formControlName="intOrder" inputId="withoutgrouping" [useGrouping]="false" 
            [maxlength]="9" autocomplete="off"></p-inputNumber>   
    
            <small  *ngIf="formRegisterEditOption.controls['intOrder'].invalid && formRegisterEditOption.controls['intOrder'].touched"
            class="text-red-600"> Ingrese  Orden.</small>        
          </div>   

          <div class="col-12 md:col-4">
            <label class="label-filter-text">Icono</label>                
    
            
            <p-dropdown formControlName="txtIcon" [filter]="true" [options]="lstIcons" [(ngModel)]="selectedIconOption" 
            optionValue="value" optionLabel="value" [placeholder]="vMessageSelect" appendTo="body"  [emptyMessage]="vMessageEmpty"
            [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="options" 
                (onChange)="selectIcon($event)" (onFilter)="filterIcon($event)">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedIconOption">
                        <i [class]="'pi pi-'+selectedIconOption"></i>
                        <div>{{ selectedIconOption }}</div>
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <i [class]="'pi pi-'+item.value"></i>
                        <div>{{ item.value }}</div>
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="loader">
                    <div >
                        <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                        <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                        <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                        <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
    
                    </div>
                </ng-template>
            </p-dropdown>
    
    
             <small  *ngIf="formRegisterEditOption.controls['txtIcon'].invalid && formRegisterEditOption.controls['txtIcon'].touched"
            class="text-red-600"> Seleccion Icono.</small>
          </div>

          <div class="col-12 md:col-3">
            <label class="label-filter-text">Visible</label>                
            <div class="flex justify-content-start">
                <p-checkbox formControlName="intVisible" class="ml-2" [binary]="true" inputId="binary"></p-checkbox>
            </div>        
          </div>

        </div>  
        
        <div class="flex flex-wrap sm:flex-row">
          <div class="sm:mr-auto mb-3 mr-3"></div>

          <div class="mb-3 mr-3">
            <button pButton label="Agregar Opcion" (click)="saveTableOption()" saveTableDetail type="button" icon="pi pi-plus" class="p-button-help" ></button>
          </div>

          <div class="">
            <button pButton (click)="formRegisterEditOption.reset()" label="Limpiar" type="button" icon="pi pi-trash" class="p-button-outlined p-button-secondary"></button>
          </div>
        </div>
       </form>
    </p-panel>

    <br>

    <p-panel header="Resultado de Opciones" [toggleable]="false" class="line-height-3">
      <p-table [value]="lstOptions" scrollDirection="both" [scrollable]="true" scrollHeight="400px" 
      styleClass="mt-3" responsiveLayout="scroll"  styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:5rem">Id</th>
            <th style="min-width:15rem">Titulo</th>
            <th style="min-width:15rem">Descripción</th>

            <th style="min-width:10rem">Url</th>
            <th style="min-width:10rem">Icono</th>
            <th style="min-width:3rem">Orden</th>

            <th style="min-width:5rem">Visible</th>

            <th style="min-width:10rem">Estado</th>
            <th style="min-width:7rem" pFrozenColumn alignFrozen="right">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td style="min-width:5rem" class="font-bold">{{data.iid_option}}</td>
            <td style="min-width:15rem">
              <input  [(ngModel)]="data.vname_option" type="text" pInputText class="p-inputtext p-component p-element"     />
            </td>
            <td style="min-width:15rem">
              <input  [(ngModel)]="data.vdescription_option" type="text" pInputText class="p-inputtext p-component p-element"     />
            </td>
            <td style="min-width:10rem">
              <input  [(ngModel)]="data.vurl_option" type="text" pInputText class="p-inputtext p-component p-element"     />
            </td>

            <td style="min-width:10rem">
              <p-dropdown [filter]="true" [options]="lstIcons" [(ngModel)]="data.vicon_option" 
              optionValue="value" optionLabel="value" [placeholder]="vMessageSelect" appendTo="body"  [emptyMessage]="vMessageEmpty"
              [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="options" 
                  (onChange)="selectIcon($event)" (onFilter)="filterIcon($event)">
                  <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="data.vicon_option">
                          <i [class]="'pi pi-'+data.vicon_option"></i>
                          <div>{{ data.vicon_option }}</div>
                      </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                      <div class="flex align-items-center gap-2">
                          <i [class]="'pi pi-'+item.value"></i>
                          <div>{{ item.value }}</div>
                      </div>
                  </ng-template>
                  <ng-template let-item pTemplate="loader">
                      <div >
                          <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                          <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                          <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                          <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      
                      </div>
                  </ng-template>
              </p-dropdown>
            </td>

            <td style="min-width:3rem">
              <p-inputNumber [(ngModel)]="data.iorder_option"inputId="withoutgrouping" [useGrouping]="false" 
              [maxlength]="9" autocomplete="off"></p-inputNumber> 
            </td>
            
           
            <td style="min-width:5rem">
              <p-checkbox [(ngModel)]="data.bvisible_option" class="ml-2" [binary]="true" inputId="binary"></p-checkbox>
            </td>
            <td style="min-width:10rem">
              <p-dropdown [(ngModel)]="data.istate_record" [options]="lstState" optionLabel="vvalue1" optionValue="id"
              [emptyMessage]="vMMessageEmpty" [placeholder]="vMessageSelect" appendTo="body"      ></p-dropdown>            </td>

  
            <td style="min-width:7rem" pFrozenColumn alignFrozen="right">
    
                <button pButton icon="pi pi-save" class="text-blue-500 p-button-text"
              (click)="editOption(data)" pTooltip="Editar" tooltipPosition="bottom"></button>
    
               <button pButton icon="pi pi-trash" class="text-red-500 p-button-text"
               (click)="deleteOption($event,data)" pTooltip="Eliminar" tooltipPosition="bottom"></button>
     
            </td>
           
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No se encontró Información.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">
              Cargando información. Espere por favor.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="reqOptions.ilimit" [totalRecords]="totalRecordOptions" [rowsPerPageOptions]="rowsOptions"
      [showCurrentPageReport]="true" [first]="firstOptions"  (onPageChange)="changePageOptions($event)"
      currentPageReportTemplate="Total : {totalRecords} registros"></p-paginator>
    </p-panel>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="vmEditRegisterOption = false;"></button>
  </ng-template>
</p-dialog>