<!-- <div>
  <h3>Selecciona la zona horaria:</h3>
  <select (change)="updateTimeZoneHours($event.target.value)">
    <option *ngFor="let timeZone of timeZones" [value]="timeZone.name">{{ timeZone.name }}</option>
  </select>
</div>

<div *ngFor="let timeZone of selectedTimeZones">
  <h4>{{ timeZone.name }}</h4>
  <ul>
    <li *ngFor="let hour of generateHoursRange(timeZone.startHour, timeZone.endHour)">{{ hour }}</li>
  </ul>
</div>
 -->


<p-panel header="Búsqueda de Usuarios" [toggleable]="true" class="line-height-3">
   
        <form [formGroup]="formSearch">
            <div class="p-fluid p-formgrid grid">

               <div class="col-12 md:col-3">
                <label class="label-filter-text">Nombres</label>
                <input formControlName="txtFirstName" type="text" pInputText class="p-inputtext p-component p-element" />
                <small class="text-red-600" *ngIf="formSearch.get('txtFirstName')?.hasError('pattern')">Ingrese solo
                  Letras</small>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Apellidos</label>
                <input formControlName="txtLastName" type="text" pInputText class="p-inputtext p-component p-element" />
                <small class="text-red-600" *ngIf="formSearch.get('txtLastName')?.hasError('pattern')">Ingrese solo
                  Letras</small>
              </div>
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Perfil</label>                
                <p-dropdown formControlName="intProfile"  [placeholder]="vMessageSelect" 
                optionLabel="value" optionValue="id" appendTo="body"
                [emptyMessage]="vMessageEmpty" [options]="lstProfile" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Estado</label>                
                <p-dropdown formControlName="intStatus"  [placeholder]="vMessageSelect" 
                optionLabel="value" optionValue="id" appendTo="body"
                [emptyMessage]="vMessageEmpty" [options]="lstStatus" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Nro. Telefono</label>
                <p-inputNumber formControlName="txtPhoneNumber" inputId="withoutgrouping" [useGrouping]="false" 
                [maxlength]="9" autocomplete="off"></p-inputNumber>          
              </div>
         
              <!-- <div class="col-12 md:col-3">
                <label class="label-filter-text">Nro. Documento</label>
                <p-inputNumber formControlName="txtDocumentNumber"  inputId="withoutgrouping" [useGrouping]="false"
                 [maxlength]="8" autocomplete="off">
                </p-inputNumber>          
              </div> -->
         
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Correo Electronico</label>
                <input formControlName="txtEmail" type="text" pInputText class="p-inputtext p-component p-element" />
              </div>
         
              <!-- <div class="col-12 md:col-3">
                <label class="label-filter-text">Departamento</label>                
                <p-dropdown formControlName="intDepartment"  [placeholder]="vmessageSelect" optionLabel="value" optionValue="id"
                [emptyMessage]="vmessageEmpty" [options]="lstDepartment" appendTo="body"></p-dropdown>
              </div>-->
            </div> 

            <div class="flex flex-wrap sm:flex-row">
              <div class="sm:mr-auto mb-3 mr-3">
                <button pButton label="Agregar usuario" type="button" icon="pi pi-plus" class="p-button-help" (click)="viewModal(1,null)"></button>
              </div>
              <div class="mb-3 mr-3">
                <button pButton label="Buscar" icon="pi pi-search" type="submit" class="p-button-outlined p-button-primary"></button>
              </div>
              <div class="">
                <button pButton (click)="formSearch.reset()" label="Limpiar" type="button" icon="pi pi-trash" class="p-button-outlined p-button-secondary"></button>
              </div>
            </div>

        </form>
   
</p-panel>
<br>
<p-panel header="Tabla de Usuarios" [toggleable]="false" class="line-height-3">

  <p-table [value]="lstUsers" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll"
  styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th class="td-id">Id</th>
        <th class="td-name">Nombres</th>
        <th class="td-firstname">Apellidos</th>
        <th class="td-profile">Perfil</th>
        <th class="td-range">Rango</th>
        <th class="td-comunity">Comunidad</th>
        <th class="td-phone">Nro. Telefonico</th>
        <th class="td-channel">Canal</th>
        <th class="td-url-channel">Link Canal</th>
        <th class="td-zone-horaria">Zona Horaria</th>


        
        <th class="td-state">Estado</th>
        <th class="td-actions" pFrozenColumn alignFrozen="right">Acciones</th>
      </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td class="td-id" class="font-bold">{{data.vcode}}</td>
        <td class="td-name">{{data.vfirst_name}}</td>
        <td class="td-firstname">{{data.vlast_name}}</td>
        <td class="td-profile">{{data.vname_profile}}</td>
        <td class="td-range">{{data.vrange_member}}</td>
        <td class="td-comunity">{{data.vname_comunity}}</td>

        
        <td class="td-phone">{{data.vphone}}</td>
        <td class="td-channel">{{data.vchannel_twitch}}</td>
        <td class="td-url-channel">          
          <a [href]="data.vurl_channel_twitch" target="_blank">{{data.vurl_channel_twitch}}</a>
        </td>
        <td class="td-zone-horaria">{{data.vtime_zone}}</td>

        <td class="td-state">{{data.vstate_record}}</td>
        <td class="td-actions" pFrozenColumn alignFrozen="right">
          <button pButton icon="pi pi-pencil" class="text-green-500 p-button-text"
          (click)="viewModal(2,data)" pTooltip="Editar" tooltipPosition="bottom"></button>

          <button pButton icon="pi pi-trash" class="text-red-500 p-button-text"
          (click)="deleteComunity($event,data)" pTooltip="Eliminar" tooltipPosition="bottom"></button>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontró Información.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="7">
          Cargando información. Espere por favor.
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [rows]="req.ilimit" [totalRecords]="totalRecord" [rowsPerPageOptions]="rowsOptions"
  [showCurrentPageReport]="true" [first]="first"
  currentPageReportTemplate="Total : {totalRecords} registros"></p-paginator>
</p-panel>



<p-dialog [(visible)]="vmEditRegisterUser" [draggable]="false" [style]="{width: '440px',height:'826px'}"  [closable]="false" [header]="titleEditRegisterUser"
  [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <br>
   <form [formGroup]="formRegisterEdit">
    <div class="p-fluid p-formgrid grid">
      
      <div class="col-12 md:col-6">
        <label class="label-filter-text">Nombres</label>
        <input formControlName="txtFirstName" type="text" pInputText class="p-inputtext p-component p-element" 
        [(ngModel)]="this.lsUserDto.vfirst_name"    />

          <small  *ngIf="formRegisterEdit.controls['txtFirstName'].invalid && formRegisterEdit.controls['txtFirstName'].touched"
          class="text-red-600"> Ingrese Nombres</small>
          <small *ngIf="formRegisterEdit.get('txtFirstName')?.hasError('pattern')"
          class="text-red-600">Ingrese solo Letras</small>
      </div>

      
      <!-- <div class="col-12 md:col-6">
        <label class="label-filter-text">Apellidos</label>
        <input formControlName="txtLastName" type="text" pInputText class="p-inputtext p-component p-element"  
        [(ngModel)]="this.lsUserDto.vlast_name"  />

           <small  *ngIf="formRegisterEdit.controls['txtLastName'].invalid && formRegisterEdit.controls['txtLastName'].touched"
          class="text-red-600"> Ingrese Apellidos</small>
          <small *ngIf="formRegisterEdit.get('txtLastName')?.hasError('pattern')"
          class="text-red-600">Ingrese solo Letras</small>
      </div>
       -->
      <div class="col-12 md:col-6">
        <label class="label-filter-text">Nro. Telefono</label>
        <!-- <p-inputNumber formControlName="txtPhoneNumber" inputId="withoutgrouping" [useGrouping]="false" autocomplete="off"></p-inputNumber>    -->
        <input formControlName="txtPhoneNumber" type="text" pInputText class="p-inputtext p-component p-element"   
        [(ngModel)]="this.lsUserDto.vphone"  />

        <small  *ngIf="formRegisterEdit.controls['txtPhoneNumber'].invalid && formRegisterEdit.controls['txtPhoneNumber'].touched"
        class="text-red-600"> Ingrese  Nro. Telefono.</small>        
      </div>    

   
      
      <div class="col-12 md:col-6">
        <label class="label-filter-text">Perfil</label>                
        <p-dropdown formControlName="intProfile" required [placeholder]="vMessageSelect" optionLabel="vvalue1"
         optionValue="id" [emptyMessage]="vMessageEmpty" [options]="lstProfile" appendTo="body" [filter]="true"
          (onChange)="onSelectProfile($event)"    [(ngModel)]="this.lsUserDto.iid_profile"></p-dropdown>

         <small  *ngIf="formRegisterEdit.controls['intProfile'].invalid && formRegisterEdit.controls['intProfile'].touched"
        class="text-red-600"> Seleccion Perfil.</small>
      </div>

      <div class="col-12 md:col-6" >
        <label class="label-filter-text">Rango</label>                
        <p-dropdown formControlName="intRangeUser" required [placeholder]="vMessageSelect" optionLabel="vvalue1"
         optionValue="id" [emptyMessage]="vMessageEmpty" [options]="lstRangeUser" appendTo="body" [filter]="true" 
         [(ngModel)]="this.lsUserDto.iid_range_member"></p-dropdown>

         <small  *ngIf="formRegisterEdit.controls['intRangeUser'].invalid && formRegisterEdit.controls['intRangeUser'].touched "
        class="text-red-600"> Seleccion Rango.</small>
      </div>

      <div class="col-12 md:col-6" >
        <label class="label-filter-text">Comunidad</label>                
        <p-dropdown formControlName="intComunity" [placeholder]="vMessageSelect" optionLabel="vvalue1"
         optionValue="id" [emptyMessage]="vMessageEmpty" [options]="lstComunityUser" appendTo="body" [filter]="true" 
         [(ngModel)]="this.lsUserDto.iid_comunity"></p-dropdown>

         <!-- <small  *ngIf="formRegisterEdit.controls['intComunity'].invalid && formRegisterEdit.controls['intComunity'].touched "
        class="text-red-600"> Seleccion Comunidad.</small> -->
      </div>

      <div class="col-12 md:col-6">
        <label class="label-filter-text">Estado</label>                
        <p-dropdown formControlName="intStatus" [options]="lstStatus" optionLabel="vvalue1" optionValue="id"
        [emptyMessage]="vMessageEmpty" [placeholder]="vMessageSelect" required appendTo="body" 
        [(ngModel)]="this.lsUserDto.istate_record" ></p-dropdown>

        <small  *ngIf="formRegisterEdit.controls['intStatus'].invalid && formRegisterEdit.controls['intStatus'].touched"
        class="text-red-600"> Seleccione Estado.</small>
      </div>

      <div class="col-12 md:col-6">
        <label class="label-filter-text">Id Twitch</label>
        <input formControlName="txtIdTwitch" type="text" pInputText class="p-inputtext p-component p-element"    
        [(ngModel)]="this.lsUserDto.vchannel_twitch"/>
        <small  *ngIf="formRegisterEdit.controls['txtIdTwitch'].invalid && formRegisterEdit.controls['txtIdTwitch'].touched "
        class="text-red-600">Ingrese  Nombre Canal</small>
      </div>

    <div class="col-12 md:col-6">
        <label class="label-filter-text">Zona Horaria</label>                
        <p-dropdown formControlName="intTimeZone" [options]="lstZonaHoraria" optionLabel="vvalue1" optionValue="id"
        [emptyMessage]="vMessageEmpty" [placeholder]="vMessageSelect" required appendTo="body" 
        [(ngModel)]="this.lsUserDto.iid_time_zone" ></p-dropdown>

        <small  *ngIf="formRegisterEdit.controls['intTimeZone'].invalid && formRegisterEdit.controls['intTimeZone'].touched"
        class="text-red-600"> Seleccione Zona Horaria.</small>
      </div>
      
      <div class="col-12 md:col-12">
        <label class="label-filter-text">Link Twitch</label>
        <input formControlName="txtLinkTwitch" type="text" pInputText class="p-inputtext p-component p-element" 
        [(ngModel)]="this.lsUserDto.vurl_channel_twitch"   />
        <small  *ngIf="formRegisterEdit.controls['intRangeUser'].invalid && formRegisterEdit.controls['intRangeUser'].touched "
        class="text-red-600">Ingrese  Link del Canal</small>
      </div>
 


      <!-- <div class="col-12 md:col-6">
        <label class="label-filter-text">Correo Electronico</label>
        <input formControlName="txtEmail" type="text" pInputText class="p-inputtext p-component p-element" />
        
        <small  *ngIf="formRegisterEdit.controls['txtEmail'].invalid && formRegisterEdit.controls['txtEmail'].touched"
        class="text-red-600"> Ingrese Correo Electronico.</small>
        <small class="text-red-600" *ngIf="formRegisterEdit.controls['txtEmail'].hasError('pattern')">
          Formato de correo electrónico inválido.
        </small>
      </div> -->

    </div>   
   </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="vmEditRegisterUser = false;"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" [loading]="loadingSave" (click)="saveUser()" ></button>
  </ng-template>
</p-dialog>
