.td-id{
    min-width: 8rem;
    max-width: 8rem;
}
.td-name{
    min-width: 12rem;
    max-width: 12rem;
}
.td-firstname{
    min-width: 12rem;
    max-width: 12rem;
}
.td-profile{
    min-width: 15rem;
    max-width: 15rem;
}
.td-range{
    min-width: 12rem;
    max-width: 12rem;
}
.td-comunity{
    min-width: 12rem;
    max-width: 12rem;
}
.td-phone{
    min-width: 15rem;
    max-width: 15rem;
}
.td-channel{
    min-width: 10rem;
    max-width: 10rem;
}
.td-url-channel{
    min-width: 20rem;
    max-width: 20rem;
}
.td-zone-horaria{
    min-width: 10rem;
    max-width: 10rem;
}



.td-state{
    min-width: 8rem;
    max-width: 8rem;
}
.td-actions{
    min-width: 8rem;
    max-width: 8rem;
}
