<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<p-confirmPopup key="deleteDetalle"></p-confirmPopup>

<p-panel [header]="'AGENDA SEMANAL  ' + this.lsComunity.vname_comunity "  *ngIf="vactive_agenda" >

    <div class="">
        <form [formGroup]="formAgenda">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Dia De la Semana</label>                
                <p-dropdown formControlName="intDay"  [placeholder]="vMessageSelect"  (onChange)="loadDataHourStream()"
                optionLabel="vvalue1" optionValue="id" appendTo="body" [filter]="true" 
                [emptyMessage]="vMessageEmpty" [options]="lstDiaAgenda" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Hora de Stream</label>                
                <p-dropdown formControlName="intHour"  [placeholder]="vMessageSelect" 
                optionLabel="vvalue1" optionValue="vvalue3" appendTo="body" 
                emptyMessage="Seleccione Dia de la Semana" [options]="lstHourStream" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Tipo de Stream</label>                
                <p-dropdown formControlName="intTypeStream"  [placeholder]="vMessageSelect" 
                optionLabel="vvalue1" optionValue="id" appendTo="body"  
                [emptyMessage]="vMessageEmpty" [options]="lstTypeSream" ></p-dropdown>
              </div>
              
            </div> 

            <div class="flex flex-wrap sm:flex-row" *ngIf="sheduleAvailable">
              <div class="sm:mr-auto mb-3 mr-3">
                <button pButton label="Agregar Horario" type="button" icon="pi pi-plus" class="p-button-help" (click)="saveShedule()" ></button>
              </div>
                    
            </div>

        </form>
    </div>
</p-panel>

<br>

<p-panel  header="MI AGENDA SEMANAL">
  <p-table [value]="lstShedule" dataKey="id" [rows]="5"  [rowHover]="true"
  styleClass="p-datatable-gridlines" responsiveLayout="scroll" [scrollable]="true" class="m-1" >
  
    <ng-template pTemplate="header">
      <tr>
        <th class="td-zone-time" pFrozenColumn>Hora {{this.lsUser.vtime_zone_user}}</th>
        <th class="td-day-week" >Lunes</th>
        <th class="td-day-week" >Martes</th>
        <th class="td-day-week" >Miercoles</th>
        <th class="td-day-week" >Jueves</th>
        <th class="td-day-week" >Viernes</th>
        <th class="td-day-week" >Sabado</th>
     </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td class="td-zone-time"  pFrozenColumn>
          <span class="flex justify-content-center font-bold text-3xl">{{data.vzone_time_user}}</span>          
        </td>
        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_monday">
            <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
            <br>
          </div>
        </td>

        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_tuesday">
            <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
            <br>
          </div>
        </td>

        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_wednesday">
            <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
            <br>
          </div>
        </td>

        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_thursday">
            <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
            <br>
          </div>
        </td>

        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_friday">
            <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
            <br>
          </div>
        </td>

        <td class="td-day-week" >
          <div *ngFor="let item of data.vday_saturday">
              <span [ngClass]="item.itype_stream == 2 ? 'td-stream-vip' : ''">{{item.vname_channel}}</span>
              <!-- 1 stream vip ,2 stream normal
 -->
              <br>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontró Información.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="7">
          Cargando información. Espere por favor.
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
