<p-panel [header]="'AGENDA SEMANAL  ' + this.lsComunity.vname_comunity ">


    <h1>USUARIO:</h1>
    <span>{{description_user}}</span>

    <br>
    <br>
    <h1>HORA ACTUAL:</h1>

    <p>{{ horaActual }}</p>

    <br>
    <br>

    <div class="" *ngIf="vactive_agenda" >
        <form [formGroup]="formAgenda">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Dia De la Semana</label>                
                <p-dropdown formControlName="intDay"  [placeholder]="vMessageSelect" 
                optionLabel="vvalue1" optionValue="id" appendTo="body" [filter]="true" 
                [emptyMessage]="vMessageEmpty" [options]="lstDiaAgenda" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Hora de Stream</label>                
                <p-dropdown formControlName="intHour"  [placeholder]="vMessageSelect" 
                optionLabel="vvalue1" optionValue="vvalue2" appendTo="body"  
                [emptyMessage]="vMessageEmpty" [options]="lstHourStream" ></p-dropdown>
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Tipo de Stream</label>                
                <p-dropdown formControlName="intTypeStream"  [placeholder]="vMessageSelect" 
                optionLabel="vvalue1" optionValue="id" appendTo="body"  
                [emptyMessage]="vMessageEmpty" [options]="lstTypeSream" ></p-dropdown>
              </div>
              
            </div> 

            <div class="flex flex-wrap sm:flex-row">
              <div class="sm:mr-auto mb-3 mr-3">
                <button pButton label="Agregar Horario" type="button" icon="pi pi-plus" class="p-button-help" (click)="saveShedule()" ></button>
              </div>
                    
            </div>

        </form>
    </div>
</p-panel>

<br>

<p-panel  header="MI AGENDA SEMANAL">
  <p-table [value]="lstShedule" dataKey="id" [rows]="5"  [rowHover]="true"
  styleClass="p-datatable-gridlines" responsiveLayout="scroll" [scrollable]="true" class="m-1" >
  
    <ng-template pTemplate="header">
      <tr>
        <th class="td-code" pFrozenColumn>Zona Horaria</th>
        <th class="td-name" >Lunes</th>
        <th class="td-name" >Martes</th>
        <th class="td-name" >Miercoles</th>
        <th class="td-name" >Jueves</th>
        <th class="td-name" >Viernes</th>
        <th class="td-name" >Sabado</th>
     </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td class="td-code  font-bold"  pFrozenColumn>{{data.vzone_time_user}}</td>
        <td class="td-name  " >
          <div *ngFor="let item of data.vday_monday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>

        <td class="td-name  " >
          <div *ngFor="let item of data.vday_tuesday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>

        <td class="td-name  " >
          <div *ngFor="let item of data.vday_wednesday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>

        <td class="td-name  " >
          <div *ngFor="let item of data.vday_thursday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>

        <td class="td-name  " >
          <div *ngFor="let item of data.vday_friday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>

        <td class="td-name  " >
          <div *ngFor="let item of data.vday_saturday">
              <span>{{item.vname_channel}}</span>
              <br>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontró Información.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="7">
          Cargando información. Espere por favor.
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
