.td-zone-time{
    min-width: 9rem;
    max-width: 9rem;
}

.td-day-week{
    min-width: 12rem;
    max-width: 12rem;
    font-weight: bold;
}

.td-stream-normal{

}

.td-stream-vip{
    color: red;
}